.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
}

/* ... (other styles) */

.DrumPads {

}

.drum-pad {

}

.drum-pad:hover {
  background-color: #45a8c2;
  color: #fff;
}
